death-star-api-node-red-flow
[{"id":"5c08b.4fee6f75c","type":"tab","label":"Death Star / Battleship API"},{"id":"dfd19350.5e586","type":"inject","z":"5c08b.4fee6f75c","name":"mr","topic":"","payload":"mr32","payloadType":"str","repeat":"","crontab":"","once":false,"x":517.0595474243164,"y":128.21428108215332,"wires":[["1e96b644.9c415a"]]},{"id":"8552ab58.d94ec8","type":"http request","z":"5c08b.4fee6f75c","name":"Hit !","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/directhit.mp3","tls":"","x":2152.2305793762207,"y":566.2067222595215,"wires":[["3ca019c1.c1b7f6"]]},{"id":"5bb78261.d18ccc","type":"http request","z":"5c08b.4fee6f75c","name":"Miss !","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/miss.mp3","tls":"","x":1918.7062301635742,"y":653.0596380233765,"wires":[["44f9c883.856898"]]},{"id":"1e96b644.9c415a","type":"switch","z":"5c08b.4fee6f75c","name":"Route hit or miss !","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"mr32","vt":"str"},{"t":"cont","v":"mr42","vt":"str"},{"t":"cont","v":"mr52","vt":"str"},{"t":"cont","v":"deathstar-test","vt":"str"},{"t":"cont","v":"deathstar-miss","vt":"str"},{"t":"cont","v":"battleship-test","vt":"str"},{"t":"cont","v":"battleship-miss","vt":"str"},{"t":"else"}],"checkall":"true","outputs":8,"x":749.1306838989258,"y":171.26205825805664,"wires":[["6cfea5e8.f9765c"],["1f2dbac2.c48c05"],["1f2dbac2.c48c05"],["6cfea5e8.f9765c"],["1f2dbac2.c48c05"],["d1ba7957.14d788"],["a810fdb7.6324a"],["f467bb3a.12a398","3ca019c1.c1b7f6"]]},{"id":"af9ebd97.0339f","type":"http request","z":"5c08b.4fee6f75c","name":"Fire in the hole !","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/fith.mp3","tls":"","x":1641.960350036621,"y":430.44873809814453,"wires":[["a45869f4.2911e8"]]},{"id":"add886a4.f17968","type":"http request","z":"5c08b.4fee6f75c","name":"Fire !","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/fire.mp3","tls":"","x":1921.6942443847656,"y":506.72638750076294,"wires":[["c589fd67.7b077"]]},{"id":"5a5b98ad.744c78","type":"http request","z":"5c08b.4fee6f75c","name":"Fire !","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/fire.mp3","tls":"","x":1626.2340126037598,"y":555.0594854354858,"wires":[["1158505c.2195f"]]},{"id":"f467bb3a.12a398","type":"debug","z":"5c08b.4fee6f75c","name":"no match","active":true,"console":"false","complete":"payload","x":844.8969841003418,"y":481.35718727111816,"wires":[]},{"id":"d7e6138d.f5c06","type":"comment","z":"5c08b.4fee6f75c","name":"README.md","info":"\n# Death Star / Battleship API lab supplement\n\nA fun way to use Postman, the Meraki Dashboard API, and a simple Sonos HTTP API to trigger sound clips\n\n## Parts list:\n\n###### HW:\n- Meraki MR AP's (planets in the \"Meraki System\")\n  - use Postman to check for the presence of associated Rebel clients !\n  - a sample Postman collection is included in this repo\n- Raspberry Pi (or your laptop running Node-RED & Sonos HTTP API server - see below)\n- Sonos Play\n\n###### SW:\n- Node-RED (http://nodered.org and great examples by Cory Guynn here: http://internetoflego.com)\n- Postman (http://getpostman.com)\n- Meraki Dashboard API (for Rebel client lookups)\n- Sonos HTTP API - (nice & simple ! https://github.com/jishi/node-sonos-http-api)\n  - local sound clips are placed in the static/clips directory\n  - clip volume is set in the lib/actions/clip.js file\n\n###### Other:\n- Sound clips - find them or make your own with Audacity and Soundflower\n\n###### How to play:\n\n- Import the sample Node-RED flow here:\n \n *https://github.com/knakashima/death-star-api/blob/master/death-star-api-node-red-flow*\n\n- Import the Postman collection:\n\n *https://github.com/knakashima/death-star-api/blob/master/DeathStar.postman_collection.json*\n\n - Input your own serial numbers of Meraki MR's that will be polled for Rebel clients via the Dashboard API\n\n<img src=\"node-red-flow-screenshot.png\"/>\n\n## Storyline:\n\n- The Galactic Empire has tracked Rebel forces to the \"Meraki System\"\n- Stormtroopers have secretly deployed Meraki MR's to broadcast \"The Force\" free wifi\n\n1. Use Postman and the Meraki Dashboard API to search for associated Rebel clients on the MR planets\n  \n *Looks like we've found a Rebel smart plug below !:*\n  \n  <img src=\"rebel-smart-plug.png\"/>\n\n2. After locating the Rebels, use the Death Star API (Postman) to GET/POST planet coordinates for destruction !\n\n*For alternate sounds, use the manual test inputs (inject nodes) or send different inputs in the HTTP requests via Postman (all included in the collection)*","x":195.3769989013672,"y":78.73413276672363,"wires":[]},{"id":"178a9203.beaa1e","type":"http in","z":"5c08b.4fee6f75c","name":"","url":"/battleship","method":"get","swaggerDoc":"","x":207.75001525878906,"y":347.8928689956665,"wires":[["48de315a.aa144"]]},{"id":"48de315a.aa144","type":"json","z":"5c08b.4fee6f75c","name":"convert object to string","x":490.6071243286133,"y":268.65719985961914,"wires":[["1e96b644.9c415a","2c12b07f.0a4c3"]]},{"id":"2c12b07f.0a4c3","type":"debug","z":"5c08b.4fee6f75c","name":"input debug","active":true,"console":"false","complete":"payload","x":685.485668182373,"y":330.8429298400879,"wires":[]},{"id":"2ef2df0f.22a6c","type":"http in","z":"5c08b.4fee6f75c","name":"","url":"/deathstar","method":"get","swaggerDoc":"","x":206.25,"y":265.87300395965576,"wires":[["48de315a.aa144"]]},{"id":"6cfea5e8.f9765c","type":"http request","z":"5c08b.4fee6f75c","name":"Kylo Ren","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/kyloren3.mp3","tls":"","x":1092.4721870422363,"y":125.87307262420654,"wires":[["346ecd3b.810ad2"]]},{"id":"5a4417e3.f00478","type":"http request","z":"5c08b.4fee6f75c","name":"Death Star Fire !","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/dsfire.mp3","tls":"","x":1455.2025680541992,"y":164.04765796661377,"wires":[["3b97101b.bcc62"]]},{"id":"7771b3b9.7c440c","type":"http request","z":"5c08b.4fee6f75c","name":"Planet Hit !","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/planethit.mp3","tls":"","x":1832.937255859375,"y":189.48435974121094,"wires":[["84afe31d.6acfd"]]},{"id":"cea7b3a0.bddf3","type":"http in","z":"5c08b.4fee6f75c","name":"","url":"/battleship","method":"post","swaggerDoc":"","x":206.85712432861328,"y":307.9285707473755,"wires":[["48de315a.aa144"]]},{"id":"2b7da9c1.53b736","type":"http in","z":"5c08b.4fee6f75c","name":"","url":"/deathstar","method":"post","swaggerDoc":"","x":206.78966522216797,"y":224.61904048919678,"wires":[["48de315a.aa144"]]},{"id":"3ca019c1.c1b7f6","type":"http response","z":"5c08b.4fee6f75c","name":"http response","x":2199.0400161743164,"y":419.1428756713867,"wires":[]},{"id":"a45869f4.2911e8","type":"template","z":"5c08b.4fee6f75c","name":"\"\"","field":"headers","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":1787.8769798278809,"y":506.8930130004883,"wires":[["add886a4.f17968"]]},{"id":"c589fd67.7b077","type":"template","z":"5c08b.4fee6f75c","name":"\"\"","field":"headers","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":2000.5435638427734,"y":565.7501182556152,"wires":[["8552ab58.d94ec8"]]},{"id":"1158505c.2195f","type":"template","z":"5c08b.4fee6f75c","name":"\"\"","field":"headers","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":1772.3689002990723,"y":600.4839744567871,"wires":[["5bb78261.d18ccc"]]},{"id":"4bc3ed0a.3d4704","type":"inject","z":"5c08b.4fee6f75c","name":"battleship-test","topic":"","payload":"battleship-test","payloadType":"str","repeat":"","crontab":"","once":false,"x":501.14286041259766,"y":171.46426582336426,"wires":[["1e96b644.9c415a"]]},{"id":"346ecd3b.810ad2","type":"template","z":"5c08b.4fee6f75c","name":"\"\"","field":"headers","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":1244.9446334838867,"y":163.55560970306396,"wires":[["5a4417e3.f00478","b79471b7.fc534"]]},{"id":"3b97101b.bcc62","type":"template","z":"5c08b.4fee6f75c","name":"\"\"","field":"headers","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":1634.825294494629,"y":189.2580108642578,"wires":[["7771b3b9.7c440c"]]},{"id":"c41939e.214d1c8","type":"comment","z":"5c08b.4fee6f75c","name":"Manual test inputs","info":"","x":506.3095016479492,"y":82.95236206054688,"wires":[]},{"id":"4c122cca.0a66b4","type":"comment","z":"5c08b.4fee6f75c","name":"HTTP input nodes","info":"","x":197.96826171875,"y":181.68255233764648,"wires":[]},{"id":"84afe31d.6acfd","type":"template","z":"5c08b.4fee6f75c","name":"winning !","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"status\": \"winning!\" }","x":1989.2063598632812,"y":283.234094619751,"wires":[["3ca019c1.c1b7f6"]]},{"id":"1f2dbac2.c48c05","type":"http request","z":"5c08b.4fee6f75c","name":"Death Star Miss !","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/droids.mp3","tls":"","x":1086.6666412353516,"y":207.2420997619629,"wires":[["df40b98f.0df0a8"]]},{"id":"df40b98f.0df0a8","type":"template","z":"5c08b.4fee6f75c","name":"these aren't the droids","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"status\": \"these aren't the droids you're looking for\" }","x":1678.3452377319336,"y":284.61914443969727,"wires":[["3ca019c1.c1b7f6"]]},{"id":"c7838e2e.80e41","type":"template","z":"5c08b.4fee6f75c","name":"\"\"","field":"headers","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":1186.9758491516113,"y":336.0317440032959,"wires":[["8de74304.312ef"]]},{"id":"d1ba7957.14d788","type":"http request","z":"5c08b.4fee6f75c","name":"Delighted to sir !","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/delighted.mp3","tls":"","x":1017.8133697509766,"y":303.0873155593872,"wires":[["c7838e2e.80e41"]]},{"id":"9bbe1552.29a078","type":"http request","z":"5c08b.4fee6f75c","name":"Turret","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/turret.mp3","tls":"","x":1287.833339691162,"y":460.6190528869629,"wires":[["cc8ad9b8.01dfc8"]]},{"id":"cc8ad9b8.01dfc8","type":"template","z":"5c08b.4fee6f75c","name":"\"\"","field":"headers","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":1461.9006042480469,"y":505.84521102905273,"wires":[["5a5b98ad.744c78"]]},{"id":"8de74304.312ef","type":"http request","z":"5c08b.4fee6f75c","name":"Turret","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/turret.mp3","tls":"","x":1332.515769958496,"y":367.6151189804077,"wires":[["bed983c.5a8578"]]},{"id":"bed983c.5a8578","type":"template","z":"5c08b.4fee6f75c","name":"\"\"","field":"headers","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":1463.682273864746,"y":430.2580032348633,"wires":[["af9ebd97.0339f"]]},{"id":"a810fdb7.6324a","type":"http request","z":"5c08b.4fee6f75c","name":"Delighted to sir !","method":"GET","ret":"obj","url":"http://10.4.17.24:5005/Office/clip/delighted.mp3","tls":"","x":976.2500152587891,"y":376.2500057220459,"wires":[["def0b7f4.b62448"]]},{"id":"def0b7f4.b62448","type":"template","z":"5c08b.4fee6f75c","name":"\"\"","field":"headers","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":1152.9124221801758,"y":460.00000190734863,"wires":[["9bbe1552.29a078"]]},{"id":"8b93eada.8ecb48","type":"template","z":"5c08b.4fee6f75c","name":"\"\"","field":"headers","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":1561.666576385498,"y":49.02778434753418,"wires":[[]]},{"id":"20ac9cd4.9d8604","type":"comment","z":"5c08b.4fee6f75c","name":"Templates nodes resetting msg headers to \"\" -->","info":"","x":1314.3612976074219,"y":50.27778148651123,"wires":[]},{"id":"c3bddb10.c1cc78","type":"rpi-gpio out","z":"5c08b.4fee6f75c","name":"LED control","pin":"16","set":"","level":"0","out":"out","x":1771.5969734191895,"y":121.27779579162598,"wires":[]},{"id":"ad08e7a7.9ad9b8","type":"trigger","z":"5c08b.4fee6f75c","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"6","extend":false,"units":"s","reset":"","name":"","x":1609.5554466247559,"y":121.11111640930176,"wires":[["c3bddb10.c1cc78"]]},{"id":"b79471b7.fc534","type":"delay","z":"5c08b.4fee6f75c","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1460.2220401763916,"y":121.11111068725586,"wires":[["ad08e7a7.9ad9b8"]]},{"id":"44f9c883.856898","type":"template","z":"5c08b.4fee6f75c","name":"miss !","field":"headers","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"status\": \"miss !\" }","x":2064.4444732666016,"y":653.33327293396,"wires":[["3ca019c1.c1b7f6"]]}]
